


<div class="loader-container"  *ngIf="loading$ | async ">
    <span class="loader"></span>
  
  
  </div>


<div class="header-content d-flex justify-content-center align-items-center flex-column gap-2  ">

    <div class="titles">
        <div class="t1 text-center">Our Blog</div>
        <div class="t2  text-center">Pricing Plans</div>

    </div>
    <div class="big-title text-center">
        <h2>Resources and <br class="d-md-none"> insights</h2>
    </div>
    <div class="smal-text text-center">
        <p>The latest industry news, interviews, <br class="d-md-none"> technoligies, and resources</p>
    </div>
    <div class="search-input text-center">
        <input type="text" placeholder="search">
    </div>
</div>