.content {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  position: relative;
  background-color: #fbf8f8;
  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    background: linear-gradient(to bottom, #d6bbfb, #d2dbde, #cfd8cf);
    padding: 20px;
    margin-top: -20px; /* Pull the clipped area up to overlap with the content area */
    z-index: 1; /* Ensure the clipped area stays on top */
    width: 100%;
    height: 30%;
    top: 400px;
    clip-path: polygon(0% 71%, 100% 0%, 100% 58%, 0% 91%);
    opacity: 0.5;

    @media (min-width: 1200px) {
      top: 260px;
    }
  }
}
